/* IMPORT REQUIRED FONT FAMILY */


/* PAGE STYLE START */

body {
    background-color: #08080b;
    font-family: sans-serif;
    color:white;
    height:100vh;
    scroll-behavior: smooth;
}

.row hr{
    border: solid 3px #202020;
    background: #202020;
}

/* NAVIGATION START border-bottom: solid 3px #202020; */
nav{
   
    background-color:rgba(8, 8, 11, 0.7);
    scroll-behavior: smooth;
    backdrop-filter: blur(30px);
}

.navbar-item{
    padding-left:10px;
    padding-right:10px;
}

.nav-link{
    font-family: sans-serif ;
    font-weight: bold;
    font-size:12pt;
}

.contact-us{
    border: none;
    border-radius:17px;
    width:110px;
    background-image: linear-gradient(to right, #F87149,#F02E5F);
}
/* NAVIGATION END */


/* Welcome Page START*/
#welcome-page h1{
    font-stretch: extra-expanded;
    font-weight:bold;
}

#welcome-page .heading-2 *{
    font-weight:bold;
}

#welcome-page mark{
    background: -webkit-linear-gradient(#F87149, #F02E5F);
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.explore-btn .btn{
    border: none;
    color: #E5E0D9;
    cursor: pointer;
    background-image: linear-gradient(to right, #F87149, #F02E5F);
    background-size: 200%;
    transition: 0.6s;
    font-weight:bold;
}

.arrow-down .fas{
    -webkit-text-stroke: 14px #08080B;
}
/* Welcome Page END*/


/* PRODUCTS */
.products h1{
    font-weight: bold;
}
.products .lead{
    color:#d8c9b2;
    font-weight: bold;
}
.learn-more .btn{
    background-image: linear-gradient(to right, #F87149, #F02E5F);
    width:auto;
    border:none;
    border-radius: 20px;
    color: white;
}

/* PRODUCTS END*/


/* ABOUT START */
.about h1{
    font-weight: bold;
}

.about p{
    color: #d8c9b2;
    font-weight: bold;
}

/* ABOUT END */


/* TEAM START*/
#team h1{
    font-weight: bold;    
}
/* TEAM END*/


/* FOOTER */
.footer{
    color:black;
    background: #E5E0D9;
}
.footer-heading h1{
    font-weight: bold;
}
.footer-para p{
    font-size:1.3em;
}
.email-id address{
    font-weight:bold;
    font-size: 1.4em;
}
/* FOOTER  END */


/* Media Queries*/
@media screen and (max-width: 1920px){
    .row hr{
        margin: 5% 0% 5% 0%;
    }

    .contact-us{
        width:auto;
    }

    /* WELCOME PAGE*/
    #welcome-page{
        height:100vh;
    }
    #welcome-page .heading-1{
        padding-top: 15%;
        padding-bottom:2%;
        font-size: clamp(2vw, 4.3vw, 90pt);
    }
    #welcome-page .heading-2{
        padding-left:20%;
        padding-right:20%;
    }
    .explore-btn{
        margin-top:9%;
        padding-bottom:1%; 
    }
    .explore-btn .btn{
        margin: 20px;
        padding: 15px;
        width: 290px;
        border-radius: 40px;
        background-size: 200%;       
        font-size:1.8vw;
    }
    .arrow-down .fas{
        font-size: 100px;
        transform: scale(1.8, 1);
        -webkit-text-stroke: 14px #08080B;
    }
    /* WELCOME PAGE END*/

    /* PRODUCTS */
    .products h1{
        font-size: clamp(1vw, 2vw, 60pt);
    }
    .products .lead{
        font-size: clamp(5px, 1.1vw, 50px);
        margin: 1% 0% 4% 0%;
    }
    .products sup{
        font-size: clamp(5pt, 1vw, 50pt);
    }
    .learn-more .btn{
        font-size: clamp(5px, 1.1vw, 50px);
        padding:10px 15px 10px 15px;
    }
    
    /* PRODUCTS END*/

    /* ABOUT START */
    .about h1{
        font-size: clamp(1vw, 2vw, 60pt);
        
    }
    .about p{
        font-size: clamp(5px, 1.1vw, 50px);  
        margin-top:1%;
    }

    /* ABOUT END */

    /* TEAM START*/
    #team{
        padding: 3% auto 3% auto;
    }
    .team-members{
        margin:2% 0% 5% 0%;
        display:inline-flexbox;
        flex-wrap:wrap;
        text-align:center;
    }
    #team h1{
        font-weight: bold;    
    }
    #team img{
        border-radius:10px;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 10% 0% 0% 0%;
    }
    .team-members h6{
        font-size: 1rem;
        
    }
    /* TEAM END*/

    /* FOOTER */
    .footer{
        padding: 3% 0% 3% 0%;
    }
    .footer-heading h1{
        font-weight: bold;
        font-size: clamp(5px, 1.1vw, 50px);
    }
    .footer-para p{
        font-size:clamp(5px, 1.1vw, 50px);
        padding: 5% 0% 0% 0%
    }
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }
    /* FOOTER  END */



}

@media screen and (max-width: 1600px){
    .contact-us{
        width:auto;
    }
    
    /* WELCOME PAGE*/
    #welcome-page{
        height:100vh;
    }
}

@media screen and (max-width: 1440px){
    .contact-us{
        width:auto;
    }

}

@media screen and (max-width: 1280px){
    .contact-us{
        width:auto;
    }
    /* WELCOME PAGE*/
    #welcome-page{
        height:100vh;
    }
    #welcome-page .heading-1{
        padding-top:4%;
        padding-bottom:1%;
    }
    #welcome-page .heading-2{
        padding-left:25%;
        padding-right:25%;
    }
    .explore-btn{
        margin-top:8%;
    }
    .explore-btn .btn{
        margin: 20px;
        padding: 13px;
        width: 170px;
        border-radius: 30px;
        background-size: 200%;
        font-size: 1.8vw;
    }
    .arrow-down .fas{
        font-size: 100px;
        transform: scale(1.5, 1);
        -webkit-text-stroke: 14px #08080B;
    }

}

@media screen and (max-width: 992px){
    .contact-us{
        width:auto;
    }
}

@media screen and (max-width: 768px){
    .contact-us{
        width:125px;
    }
}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 576px){
    button span{
        background-color:white;
    }

    #welcome-page{
        margin-top:25%;
    }

    #welcome-page h1{
        padding-bottom:5%;
    }

  
    .explore-btn{
        margin-top:10%;
        margin-bottom: 10%;
    }

    .explore-btn .btn{
        margin: 20px;
        padding: 10px;
        width: 180px;
        border-radius: 25px;
        font-size:15pt;
    }

    /* PRODUCTS */
    .products h1{
        font-size: 6vw;
    }

    .products sup{
        font-size: 4vw;
    }

    .products .lead{
        font-weight: bold;
        margin-top:10px;
        font-size: 2.5vh;
    }

    .learn-more{
        margin-top: 10px;
    }

    .learn-more .btn{
        border:none;
        border-radius: 15px;
        font-size: 4vw;
        color:white;
    }

    .row hr{
        border: solid 3px #202020;
        margin-bottom:30px;
        margin-top:30px;
    }

    /* PRODUCTS END*/
    
    /* ABOUT START*/
    .about h1{
        font-size: 6vw;
    }
    
    .about p{
        color: #d8c9b2;
        font-weight: bold;
        font-size: 2.5vh;
    }

    /* ABOUT END*/

    /* TEAM START*/
    .team{
        margin-bottom: 50px;
        text-align: center;
        
    }
    .team h1{
        Padding-bottom:20px;
            
    }
    .team img{
        border-radius:10px;
        margin-bottom:2vh;
        
    }
    /* TEAM END*/


    /* FOOTER */

    .footer{
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom:50px;
    }

    .footer-heading h1{
        font-size: 3em;
        font-weight: bold;
    }

    .footer-para p{
        font-size:3vh;
    }

    .email-id address{
        margin-top: 50px;
        font-weight:bold;
        font-size: 2.5vh;
    }



}
