/* IMPORT REQUIRED FONT FAMILY */


/* PAGE STYLE START */

body {
    background-color: #08080B;
    font-family: sans-serif;
    color:white;
    height:100%
}

/* NAVIGATION STYLE */
button span{
    background-color:white;
    color:white;
}

nav{
    border-bottom: solid 3px #202020;
}

.navbar-item{
    padding-left:10px;
    padding-right:10px;
}

.nav-link{
    font-family: sans-serif ;
    font-weight: bold;
    font-size:12pt;
}

.contact-us{
    border: none;
    border-radius:17px;
    width:110px;
    background-image: linear-gradient(to right, #F87149,#F02E5F);
}

/* Welcome Page START*/

.welcome-page{
    padding-top:16%;
}

.welcome-text-1 h1{
    letter-spacing: 0px;
    font-weight:bold;
    font-size: 5vw;
    padding-bottom:10px;
}

.welcome-text-2 h5{
    font-weight:bold;
    font-size:1.5vw;
}

.welcome-text-2 mark{
    background: -webkit-linear-gradient(#F87149, #F02E5F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight:bold;
    font-size: 1.5vw;
}

.explore-btn{
    padding-top:10%;
}

.explore-btn .btn{
    border: none;
    margin: 20px;
    padding: 15px;
    width: 220px;
    border-radius: 30px;
    color: #E5E0D9;
    cursor: pointer;
    background-image: linear-gradient(to right, #F87149, #F02E5F);
    background-size: 200%;
    transition: 0.6s;
    font-weight:bold;
    font-size:17pt;
}

.arrow-down .fas{
    padding-top:10px;
    font-size: 95px;
    transform: scale(1.5, 1) ;
    -webkit-text-stroke: 14px #08080B;
    padding-bottom:100px;
}
/* Welcome Page END*/



/* PRODUCTS */

.products h1{
    font-size: 3em;
    font-weight: bold;
}

.products sup{
    font-size: large;
}

.products .lead{
    color:#d8c9b2;
    font-weight: bold;
    text-align: left;
}

.learn-more h5{
    background-image: linear-gradient(to right, #F87149, #F02E5F);
    padding: 12px;
    width:125px;
    border:none;
    border-radius: 15px; 
    font-size: 1em;
}

.row hr{
    border: solid 3px #202020;
    margin-bottom:30px;
    margin-top:20px;
}

/* PRODUCTS END*/


/* ABOUT START */
.about h1{
    font-size: 3em;
    font-weight: bold;
}

.about p{
    color: #d8c9b2;
    font-weight: bold;
}



/* ABOUT END */

/* TEAM */
.team{
    margin-bottom: 50px;
}
.team h1{
    font-weight: bold;
    padding-bottom:20px;    
}
.team img{
    border-radius:10px;
}


/* FOOTER */

.footer{
    color:black;
    background: #E5E0D9;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom:50px;
}

.footer-heading h1{
    font-size: 3em;
    font-weight: bold;
}

.footer-para p{
    font-size:1.3em;
}

.email-id address{
    margin-top: 50px;
    font-weight:bold;
    font-size: 1.4em;
}






/* Media Queries*/
@media screen and (max-width: 1710px){
    .contact-us{
        width:auto;
    }
}

@media screen and (max-width: 992px){
    .contact-us{
        width:auto;
    }
}

@media screen and (max-width: 768px){
    .contact-us{
        width:110px;
    }
}
 
@media screen and (max-width: 576px){

}