/* ==============================================================
                        IMPORT FONTS
=================================================================*/







/* ==============================================================
                        GLOBAL STYLE
=================================================================*/
:root{
    --color_1: #08080b;
    --color_2: #202020;
    --color_3: #F87149;
    --color_4: #F02E5F;
    --color_5: #E5E0D9;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #08080b;
    font-family: sans-serif;
    color:white;
    height:100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

.row hr{
    border: solid 3px #202020;
    background: #202020;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(#F87149, #F02E5F);
    border-radius: 10px;
}


/* ==============================================================
                        NAVIGATION
=================================================================*/
.navbar{
    width:100vw;
}
nav{
    background-color:rgba(8, 8, 11, 0.7);
    scroll-behavior: smooth;
    backdrop-filter: blur(30px);
}
.navbar-brand{
    width:50%;
}
.logo{
    height: auto;
    width: 26%;
}
.nav-link{
    font-family: sans-serif ;
    font-weight: bold;
    font-size:1.2vw;
}
.contact-us{
    border: none;
    border-radius:40px;
    background-image: linear-gradient(to right,#F02E5F , #F87149);    
}
.contact-us:hover,
.contact-us:focus{
    background: #F87149;   
    cursor: pointer;
}


/* ==============================================================
                        MODAL
=================================================================*/
.modal{
    background-color: rgba(8, 8, 11, 0.6);
    backdrop-filter: blur(40px);
    width:100vw;
    height: 100vh;
    
}
.modal-dialog *{
      background-color: var(--color_1);
}
.modal-content{
    box-shadow: 3px 3px 6px rgb(50, 50, 50, 0.8), -3px -3px 6px rgb(50, 50, 50, 0.8);
}
.modal-header{
    border-bottom:none;
}
.modal-logo{
    height:40px;
    width:100px;
}
.modal-body{
    padding: auto 2.5vw;
}
.fa-times{
      color:#fff;
}
.form { 
    display: flex;
    flex-direction: column;
}
.form-header{
    margin-bottom: 3%;
}
.md-form{
    margin: 5% 0;
}
.md-form i{
      padding:4px;
}
  
input[type=text]{
    outline:0;
    border-top:none;  
    border-left: none;
    border-right: none;
    border-bottom: auto;
    border-radius: 0;
    cursor:auto;
    width:70%;
    color: #E5E0D9; 
}
  
input[type=text]:focus {
    background-color: var(--color_1);
    margin:0;
    caret-color: #E5E0D9;
    outline:none;
    border-top:none;  
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--color_4);
}
  
.text-area{
    display: flex;         
}
textarea{
    width:70%;
    color: #E5E0D9; 
}
  
textarea:focus{
    outline:0;
    caret-color: #E5E0D9;
    border: 2px solid var(--color_4);   
}

.modal-btn{
    width:80%;
    text-align: center;
}

.modal-btn .btn{
    width:30%;
    background-color:rgba(240, 46, 95, 0.8);
    border: none;
    color: #E5E0D9;
    border-radius: 0;
    transition: 0.3s;
}
.modal-btn .btn:hover{
    background-color: var(--color_4);
    width:40%;
    transition: 0.3s;
    
}
.map-container-section{
    margin: 7% auto;
}
.map-container-section iframe{
    width:100%;
    height:300px;
}
.map i{
    color: rgba(240, 46, 95, 0.7);
}
.modal-mail-id:hover i{
    color: var(--color_4);
}
.modal-mail-id p{
    color: rgba(206, 206, 206, 0.616);
}


  
/* ==============================================================
                        WELCOME PAGE
=================================================================*/
#welcome-page{
    height:100vh;
}

#welcome-page h1{
    font-stretch: extra-expanded;
    font-weight:bold;    
}

.title-2 *{
    font-weight:bold;
}

#welcome-page mark{
    background-image: linear-gradient( #F87149, #F02E5F);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.explore-btn .btn{
    border: none;
    color: #E5E0D9;
    cursor: pointer;
    background-image: linear-gradient(to right, #F87149, #F02E5F);
    background-size: 600%;
    font-weight:bold;
    transition: 0.3s;
}
.explore-btn .btn:hover{
    background-size: 100%;
    transition: 0.3s;
}

#arrow a {
    padding-top: 80px;
}

#arrow a span {
    position: absolute;
    top: 35px;
    left: 45%;
    width: 60px;
    height: 60px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;

}
#arrow a span:nth-of-type(1) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
#arrow a span:nth-of-type(2) {
    top: 12px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
@-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/* ==============================================================
                        PRODUCTS
=================================================================*/

#products h1{
    font-weight: bold;
}

.product-details{
    border-radius: 15px;
    border: 2px solid #f87149;
    margin: 2% 0;
    padding: 2% 0;
}
.product-details h2{
    font-weight: bold;
}
.product-details .lead{
    color:#d8c9b2;
    font-weight: bold;
}

.learn-more .btn{
    background-color: #F87149;
    width:auto;
    border:none;
    border-radius: 20px;
    color: rgb(211, 211, 211);
}

.learn-more .btn:hover{
    background-image: linear-gradient(to right, #F87149, #F02E5F);
    color: #E5E0D9;
}


/* ==============================================================
                        ABOUT
=================================================================*/
#about::before{
    display:block;
    content: " ";
    margin-top:-130px;
    height: 130px;
    visibility: hidden;
    pointer-events: none;
}

#about h1{
    font-weight: bold;
}

#about p{
    color: #d8c9b2;
    font-weight: bold;
}

/* ==============================================================
                        TEAM
=================================================================*/
#team h1{
    font-weight: bold;    
}
#team img{
    border-radius:10px;
    width:100%;
    height:auto;
}
.team-members p{
    font-size: 0.9rem;
    color:rgba(210, 210, 210, 0.8)
}

.team-img1{
    position: relative;
}
.team-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
}
.middle i{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 36.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 53px 57.5px;
}
.middle i{
    color:#fff;
}
.team-img1:hover .middle i{
    border-radius: 10px;
    background-color: rgba(248, 114, 73, 0.705);
    opacity: 1;
}
.text {
    font-size: 3rem;
    color: #f87149;
}


/* ==============================================================
                        FOOTER
=================================================================*/
footer{
    color:black;
    background: #E5E0D9;
}
.section-1 h1{
    font-weight: bold;
    font-size:1.7rem;
    margin-bottom:2%;
    width:80%;
}
.section-1 p{
    color:rgba(100, 100, 100);
    font-weight: 500;
    font-size:1.2rem;
    margin-top:3%;
}
address{
    font-weight:bold;
    font-size: 1rem;
}







/* ==============================================================
                        MEDIA QUUEIRIES
=================================================================*/

@media screen and (max-width: 1920px){

    /* ============== GLOBAL =========== */
    .row hr{
        margin: 5% 0% 5% 0%;
    }

    /* ============== Navigation =========== */
    .contact-us{
        width:auto;
    }
    .nav-link{
        margin: auto 1rem;
        font-size: 1rem !important;
    }

    /* ============== WELCOME =========== */
    #welcome-page h1{
        padding-top: 22vh;
        padding-bottom:2%;
        font-size: 4.4vw;
    }

    .title-2{
        margin: auto 5rem;
    }

    .title-2 *{
        font-size: 1.4vw;
    }

    .explore-btn{
        margin-top: 12vh;
         
    }

    .explore-btn .btn{
        margin: 20px;
        padding: 15px;
        width: 230px;
        border-radius: 40px;   
        font-size:2rem;
    }

    #arrow a span {
        top: 35px;
        left: 48.4%;
        width: 60px;
        height: 60px;
        margin-left: -12px;
        border-left: 1px solid var(--color_5);
        border-bottom: 1px solid var(--color_5);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;


    }
    

    /* ============== PRODUCTS =========== */
    #products h1{
        margin-top:25%;
        font-size: clamp(1vw, 2vw, 60pt);
        font-weight: bold;
    }

    #product-details .lead{
        font-size: clamp(5px, 1.1vw, 50px);
        margin: 1% 0% 4% 0%;
        color:#d8c9b2;
        font-weight: bold;
    }
    .learn-more .btn{
        font-size: clamp(5px, 1.1vw, 50px);
        padding:10px 15px 10px 15px;
    }
    

    /* ============== ABOUT =========== */
    #about h1{
        font-weight: bold;
        font-size: clamp(1vw, 2vw, 60pt);
        
    }
    #about p{
        font-size: clamp(5px, 1.1vw, 50px);  
        margin-top:1%;
        color:#d8c9b2;
        font-weight: bold;
    }
    
    /* ============== TEAM =========== */

    .team-members{
        margin:2% 0% 5% 0%;
        display:inline-flexbox;
        flex-wrap:wrap;
        text-align:center;
    }
    #team h1{
        font-weight: bold;
        font-size: clamp(1vw, 2vw, 60pt);    
    }
    #team img{
        border-radius:10px;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 10% 0% 0% 0%;
    }
    .team-members p{
        font-size: 0.9rem;
        color:rgba(210, 210, 210, 0.8)
    }

    /* ============== FOOTER =========== */
    footer{
        padding: 3% 0% 3% 0%;
    }
    
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1600px){
    /* ============== GLOBAL =========== */
    .row hr{
        margin: 5% 0% 5% 0%;
    }

    /* ============== Navigation =========== */
    .contact-us{
        width:auto;
    }    
    .nav-link{
        margin: auto 1rem;
        font-size: 1rem !important;
    }


    /* ============== WELCOME =========== */
    #welcome-page h1{
        padding-top: 23vh;
        padding-bottom:2%;
        font-size: 4.4vw;
        
        
    }

    .title-2{
        margin: auto 15%;
    }

    .title-2 *{
        font-size: 1.4vw;
    }

    .explore-btn{
        margin-top: 13vh;
    }

    .explore-btn .btn{
        width:18%;
        border-radius: 40px;
        background-size: 300%;       
        font-size:1.5rem;
    }
 
    

    /* ============== PRODUCTS =========== */
    #products h1{
        font-size: clamp(1vw, 2vw, 60pt);
        font-weight: bold;
    }
    #products .lead{
        font-size: clamp(5px, 1.1vw, 50px);
        margin: 1% 0% 4% 0%;
        color:#d8c9b2;
        font-weight: bold;
    }
    #products sup{
        font-size: clamp(5pt, 1vw, 50pt);

    }
    .learn-more .btn{
        font-size: clamp(5px, 1.1vw, 50px);
        padding:10px 15px 10px 15px;
    }
    

    /* ============== ABOUT =========== */
    #about h1{
        font-weight: bold;
        font-size: clamp(1vw, 2vw, 60pt);
        
    }
    #about p{
        font-size: clamp(5px, 1.1vw, 50px);  
        margin-top:1%;
        color:#d8c9b2;
        font-weight: bold;
    }
    
    /* ============== TEAM =========== */
    #team{
        padding: 3% auto 3% auto;
    }
    .team-members{
        margin:2% 0% 5% 0%;
        display:inline-flexbox;
        flex-wrap:wrap;
        text-align:center;
    }
    #team h1{
        font-weight: bold;
        font-size: clamp(1vw, 2vw, 60pt);    
    }
    #team img{
        border-radius:10px;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 10% 0% 0% 0%;
    }
    .team-members h6{
        font-size: 1rem;
        
    }

    /* ============== FOOTER =========== */
    footer{
        padding: 3% 0% 3% 0%;
    }
    
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 1440px){
    /* ============== GLOBAL =========== */
    .row hr{
        margin: 5% 0% 5% 0%;
    }


    /* ============== Navigation =========== */
    .contact-us{
        width:auto;
    }    
    .nav-link{
        margin: auto 1rem;
        font-size: 1rem !important;
    }


    /* ============== WELCOME =========== */
    #welcome-page h1{
        padding-top: 23vh;
        padding-bottom:2%;
        font-size: 4.4vw;
        
    }
    .title-2{
        margin: auto 20%;
    }  
    .title-2 *{
        font-size: 2.5vh;

    }
    .explore-btn{
        margin-top: 8vh;
    }

    .explore-btn .btn{
        border-radius: 40px;
        background-size: 300%;       
        font-size:1.5rem;
    }


    /* ============== PRODUCTS =========== */
    #products h1{
        font-size: clamp(1vw, 2vw, 60pt);
        font-weight: bold;
    }
    #products .lead{
        font-size: clamp(5px, 1.3vw, 50px);
        margin: 1% 0% 4% 0%;
        color:#d8c9b2;
        font-weight: bold;
    }
    #products sup{
        font-size: clamp(5pt, 1vw, 50pt);

    }
    .learn-more .btn{
        font-size: clamp(5px, 1.1vw, 50px);
        padding:10px 15px 10px 15px;
    }
    

    /* ============== ABOUT =========== */
    #about h1{
        font-weight: bold;
        font-size: clamp(1vw, 2vw, 60pt);
        
    }
    #about p{
        font-size: clamp(5px, 1.3vw, 50px);  
        margin-top:1%;
        color:#d8c9b2;
        font-weight: bold;
    }
    
    /* ============== TEAM =========== */
    #team{
        padding: 3% auto 3% auto;
    }
    .team-members{
        margin:2% 0% 5% 0%;
        display:inline-flexbox;
        flex-wrap:wrap;
        text-align:center;
    }
    #team h1{
        font-weight: bold;
        font-size: clamp(1vw, 2vw, 60pt);    
    }
    #team img{
        border-radius:10px;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 10% 0% 0% 0%;
    }
    .team-members h6{
        font-size: 1rem;
        
    }

    /* ============== FOOTER =========== */
    footer{
        padding: 3% 0% 3% 0%;
    }
    
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }

}

@media screen and (max-width: 1280px){
    
    /* ============== GLOBAL =========== */
     .row hr{
        margin: 5% 0% 5% 0%;
    }

    /* ============== Navigation =========== */
    .nav-link{
        width:auto;
        margin: auto 1rem;
        font-size: 1rem !important;
    }
    .contact-us{
        width:auto;
    }
    
 

    /* ============WELCOME PAGE=============*/
    #welcome-page{
        height:100vh;
    }

    .title-1{
        padding-top:25vh;
        font-size:4.4vw;
        font-stretch:extra-expanded;
    }

    .title-2 {
        margin: auto 22%;
    }
    .title-2 *{
        font-size: 1.4vw;
    }
    .explore-btn{
        margin-top: 10vh;
    }

    .explore-btn .btn{
        margin: 10px;
        border-radius: 50px;
        font-size:1.5rem;
    }

    /* ============== PRODUCTS =========== */
    #products h1{
        font-size: 3vw;
    }
    #products .lead{
        font-size: 1.5vw;
        margin: 4% 0%;
    }
    #products sup{
        font-size: 1vw;


    }
    .learn-more .btn{
        font-size: 1.5vw;
        padding:10px 15px 10px 15px;
    }

     /* ============== ABOUT =========== */
     #about h1{
        margin: 1vh 0;
        font-size: 3vw;
        
    }
    #about p{
        font-size: 1.5vw;
        margin-top:1%;
    }

    #team h1{
        font-size: 3vw;
    }
    /* ============== TEAM =========== */
    .team{
        margin: 1vh 0;
    }
    #team h1{
        font-weight: bold;
        font-size: 3vw;
        margin: 0.2vh 0;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 0 0 ;       
    }
    .team-members p{
        font-size: 0.9rem;
        color:rgba(210, 210, 210, 0.8);
    }
    .middle{
        width: 100%;
        height: auto;
    }
    .middle i{
        position: absolute;
        top: 41.8%;
        width: 100%;
        padding-top: 40%;
        padding-bottom: 40%;
    }

    /* ============== FOOTER =========== */
    footer{
        padding: 3% 0% 3% 0%;
    }
    
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }

}

@media screen and (max-width: 992px){
    /* ============== GLOBAL =========== */
     .row hr{
        margin: 5% 0% 5% 0%;
    }
    
    

    /* =============    NAVIGATION =======================*/
    

    /* ============WELCOME PAGE=============*/
    #welcome-page{
        height:100vh;
    }

    #welcome-page h1{
        padding-top: 23vh;
        padding-bottom:3%;
        font-size: 6vw;
    }

    .title-2 {
        margin: auto 10%;
    }
    .title-2 *{
        font-size: 2.1vw;
    }
    .explore-btn{
        margin-top: 10vh;
    }

    .explore-btn .btn{
        width:25%;
        margin: 10px;
        border-radius: 50px;
        font-size:1.5rem;
    }

    /* ============== PRODUCTS =========== */
    #products h1{
        font-size: 3vw;
    }
    #products .lead{
        font-size: 1.8vw;
        margin: 4% 0%;
    }
    .learn-more .btn{
        font-size: 1.8vw;
        padding:10px 15px 10px 15px;
    }

    /* ============== ABOUT =========== */
     #about h1{
        margin: 1vh 0;
        font-size: 3vw;
        
    }
    #about p{
        font-size: 1.8vw;
        margin-top:1%;
    }

    /* ============== TEAM =========== */
    .team{
        margin: 1vh 0;
    }
    #team h1{
        font-weight: bold;
        font-size: 3vw;
        margin: 0.2vh 0;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 0 0 ;       
    }
    .team-members p{
        font-size: 0.9rem;
        color:rgba(210, 210, 210, 0.8)
    }
    .middle{
        width: 100%;
        height: auto;
    }
    .middle i{
        position: absolute;
        top: 40%;
        width: 100%;
        padding-top: 38%;
        padding-bottom: 37%;
    }

    /* ============== FOOTER =========== */
    footer{
        padding: 3% 0% 3% 0%;
    }
    .section-1 h1{
        font-size:1.7rem;
        margin-bottom:2%;
        width:80%;
    }
    .section-1 p{
        color:rgba(100, 100, 100);
        font-weight: 500;
        font-size:1.2rem;
        margin-top:3%;
    }
    
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
   

    /* ============== GLOBAL =========== */
     .row hr{
        margin: 5% 0% 5% 0%;
    }
    
    

    /* =============    NAVIGATION =======================*/
    .contact-us{
        width:auto;
    }

    /* ============WELCOME PAGE=============*/
    #welcome-page{
        height:100vh;
    }

    #welcome-page h1{
        padding-top: 23vh;
        padding-bottom:3%;
        font-size: 2.6rem;
    }

    .title-2 {
        margin: auto 10%;
    }
    .title-2 *{
        font-size: 1rem;
    }
    .explore-btn{
        margin-top: 10vh;
    }

    .explore-btn .btn{
        width:30%;
        margin: 10px;
        border-radius: 50px;
        font-size:1.5rem;
    }

    /* ============== PRODUCTS =========== */
    #products h1{
        font-size: 3vw;
    }
    #products .lead{
        font-size: 1.8vw;
        margin: 4% 0%;
    }
    .learn-more .btn{
        font-size: 1.8vw;
        padding:10px 15px 10px 15px;
    }

    /* ============== ABOUT =========== */
     #about h1{
        margin: 1vh 0;
        font-size: 3vw;
        
    }
    #about p{
        font-size: 1.8vw;
        margin-top:1%;
    }

    /* ============== TEAM =========== */
    .team{
        margin: 1vh 0;
    }
    #team h1{
        font-weight: bold;
        font-size: 3vw;
        margin: 0.2vh 0;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 0 0 ;       
    }
    .team-members p{
        font-size: 0.9rem;
        color:rgba(210, 210, 210, 0.8)
    }
    .middle{
        width: 100%;
        height: auto;
    }
    .middle i{
        position: absolute;
        top: 40%;
        width: 100%;
        padding-top: 37.5%;
        padding-bottom: 37.5%;
    }

    /* ============== FOOTER =========== */
    footer{
        padding: 3% 0% 3% 0%;
    }
    .section-1 h1{
        font-size:1.7rem;
        margin-bottom:2%;
        width:80%;
    }
    .section-1 p{
        color:rgba(100, 100, 100);
        font-weight: 500;
        font-size:1.2rem;
        margin-top:3%;
    }
    
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px){

    /* ============== GLOBAL =========== */
    
    .row hr{
        margin: 5% 0% 5% 0%;
    }  

    /* ==========    MODAL  =============*/
    .modal{
        background-color: rgba(8, 8, 11, 0.6);
        backdrop-filter: blur(40px);
    }
    .modal-dialog *{
        background-color: var(--color_1);
    }
    .modal-dialog{
        margin: 0px 40px;
    }
    .modal-content{
        box-shadow: 3px 3px 6px rgb(50, 50, 50, 0.8), -3px -3px 6px rgb(50, 50, 50, 0.8);
    }
    .modal-header{
        border-bottom:none;
    }
    .modal-logo{
        height:25px;
        width:70px;
    }
    .modal-body{
        padding: 0;
    }
    .fa-times{
        color:#fff;
    }
    .form { 
        display:none;
        
    }   
    

    /* ============== WELCOME =========== */
    #welcome-page h1{
        padding-top: 27vh;
        padding-bottom:1.8vh;
        font-size:7vw;
        
    }
    .title-2{
        margin: auto 3vw;
    }
    .title-2 *{
        font-size: 3.5vw;   
    }
    .explore-btn{
        margin-top: 10vh;
        
    }
    .explore-btn .btn{
        width: 38%;
        border-radius: 30px;   
        font-size: 1rem;
    }
    #arrow a {
        padding-top: 80px;
    }
    #arrow a span {
        position: absolute;
        top: 35px;
        left: 48%;
        width: 40px;
        height: 40px;
        margin-left: -12px;   
    }
    

    /* ============== PRODUCTS =========== */
    #products{
        margin-top:5vh;
    }

    #products h1{
        font-size: 4.3vw;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;        
    }
    .product-details h2{
        font-size: 4vw;
    }
    #products .lead{
        font-size: 3vw;
        margin: 1% 0% 4% 0%;
        color:#d8c9b2;
        font-weight: bold;
    }
    
    .product-details .learn-more .btn{
        font-size: 3vw;
        padding:10px 15px 10px 15px;
        margin: 1vh 0%;
    }

    /* ============== ABOUT =========== */
    #about h1{
        margin: 1vh 0;
        font-weight: bold;
        font-size: 4.3vw;
        text-align:center;
        
    }
    #about p{
        font-size: 3vw;
        margin-top:1%;
        color:#d8c9b2;
        font-weight: bold;
    }

    /* ============== TEAM =========== */
    .team{
        margin: 1vh 0;
    }
    #team h1{
        font-weight: bold;
        font-size: 4.3vw;
        text-align:center;
        margin: 0.2vh 0;
    }
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 0 0 ;
        
    }
    .team-members p{
        font-size: 0.9rem;
        color:rgba(210, 210, 210, 0.8)
    }
    .middle{
        width: 100%;
        height: auto;
    }
    .middle i{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 42.8%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        padding-top: 150px;
        padding-bottom: 150px;        
    }

    /* ============== FOOTER =========== */
    footer .container{
        margin:2vh auto;
        
    }
    .section-1 h1{
        font-weight: bold;
        font-size:20px;
    }
    .footer-para p{
        font-size: 3vw;
        padding: 5% 0% 0% 0%
    }
    .email-id address{
        font-weight:bold;
        font-size: 1rem;
    }   

}

@media screen and (max-width: 380px ){
    /* ============== TEAM =========== */
    .team{
        margin: 1vh 0;
    }
    #team h1{
        font-weight: bold;
        font-size: 4.3vw;
        text-align:center;
        margin: 0.2vh 0;
    }
    
    .team-members h5{
        font-size: 1rem;
        font-weight: bold;
        margin: 5% 0 0 0 ;
        
    }
    .team-members p{
        font-size: 0.9rem;
        color:rgba(210, 210, 210, 0.8)
    }
    .middle{
        width: 100%;
        height: auto;
    }
    .middle i{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 42.5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        padding-top: 40.7%;
        padding-bottom: 42.4%;    
    }

}